body {
    background-color: var(--background-light-corpo);
}

/* CAMPO DE TEMAS */

.calculadora {
    width: 500px;
}

.calculadora__campo-temas {
    display: grid;
    grid-template-columns: 1fr 12% repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    gap: 5px 0;
}

.calculadora__campo-temas__titulo {
    color: var(--cor-amarelo-escuro-texto);
    font-size: 1.8rem;
    grid-area: 2/1/3/2;
}

.calculadora__campo-temas__texto {
    color: var(--cor-amarelo-escuro-texto);
    text-transform: uppercase;
    font-size: 0.8rem;
    align-self: center;
    grid-row: 2/3;
}    

.calculadora__campo-temas__number {
    color: var(--cor-amarelo-escuro-texto);
    justify-self: center;
}

.item1 {
    grid-column: 3/4;
}

.calculadora__campo-temas__container-background {
    background-color: var(--background-light-teclas);
    padding: 5px;
    border-radius: 25px;
    width: 90px;
    grid-area: 2/3/3/6;
}

.calculadora__campo-temas__container-background__bolinha {
    background-color: var(--cor-laranja-tecla-background);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    transition: ease-in-out 0.5s;
}

/* TELA DE RESULTADO */

.calculadora__tela-resultado {
    background-color: var(--background-light-tela);
    margin-top: 20px;
    padding: 25px;
    border-radius: 8px;
    min-height: 95px;
    word-wrap: break-word;
    word-break: break-all;
}

.calculadora__tela-resultado__resultado {
    color: var(--cor-amarelo-escuro-texto);
    text-align: end;
    font-size: 3rem;
}

/* CAMPO NUMERICO */

.calculadora__campo-numerico {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 1.2rem;
    background-color: var(--background-light-teclas);
    margin-top: 30px;
    padding: 5%;
    border-radius: 8px;
}

.calculadora__campo-numerico__botao {
    background-color: var(--cor-amarelo-acizentado-tecla-background);
    color: var(--cor-amarelo-escuro-texto);
    font-size: 2.5rem;
    font-weight: 700;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 4px 1px var(--cor-amarelo-acizentado-tecla-shadow);
    font-family: var(--font-principal);
    padding: 15px 0 5px 0;
    cursor: pointer;
}

.calculadora__campo-numerico__botao:active {
    background-color: var(--cor-branco);
}

.del, .reset {
    background-color: var(--teclas-ciano-escuro-background);
    color: var(--cor-branco);
    text-transform: uppercase;
    box-shadow: 0px 4px 1px var(--teclas-ciano-escuro-shadow);
    font-size: 1.5rem;
    padding: 15px;
}

.del:active, .reset:active {
    background-color: var(--teclas-ciano-escuro-hover);
}

.reset {
    grid-column: 1/3;
}

.igualdade {
    background-color: var(--cor-laranja-tecla-background);
    color: var(--cor-branco);
    box-shadow: 0px 4px 1px var(--cor-laranja-escuro-tecla-shadow);
    font-size: 1.5rem;
    grid-column: 3/5;
    padding: 15px;
}

.igualdade:active {
    background-color: var(--cor-laranja-escuro-tecla-hover);
}

@media screen and (max-width: 768px) {
    body {
        padding: 3rem 1.5rem 0 1.5rem;
    }

    .calculadora {
        width: 100%;
    }

    .calculadora__campo-temas {
        grid-template-columns: 1fr 18% repeat(3, auto);
    }

    .calculadora__campo-numerico {
        grid-gap: 0.9rem;
    }

    .calculadora__campo-numerico__botao {
        border-radius: 5px;
        padding: 0;
        font-size: 2rem;
        padding: 20px 0 10px 0;
    }

    .del, .reset, .igualdade {
        padding: 5px 0 0 0;
    }

    .del, .reset {
        font-size: 1.2rem;
    }

    .igualdade {
        font-size: 1.5rem;
    }
}

